.Freet {
  background: white;
  border-style: solid;
  border-width: 2px 2px 0 2px;
  border-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
}

.Freet p {
  word-break: break-all;
}

.Freet-author {
  font-weight: bold;
}

.Freet-message {
  margin: 3px 0;
}

.Freet-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20%;
}
