
.gol-dim {
	align-items: center;
	display: flex;
	justify-content: center;
}
	@media(max-width: 420px) {
		.gol-dim {
			flex-direction: column;
		}
	}

.gol-dim > label {
  display: inline-block;
}

.gol-dim > * {
  margin: 5px 10px;
}

.gol-dim-inputs > * {
  margin: 0 10px 0;
}

.gol-dim-button, .gol-dim input {
  background-color: orange;
  border-color: orange;
}

.gol-dim-button {
	margin-top: 10px;
}

.gol-dim-row-inputs {
  display: flex;
  justify-content: space-between;
}