html {
	--color: white;
	--less-important-color: #bbb;
}

body {
	background: black;
	color: var(--color);
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 1.8em;
	margin: 0 auto 80px auto;
	max-width: 500px;
}

a {
	color: var(--color);
}

	a:hover {
		color: #ddf3f5;

	}

h1, h2 {
	padding: 10px;
	text-align: center;
}

section {
	margin-top: 60px;
}

p, ul, table {
	padding: 0 20px;
}

td {
	padding: 5px 5px;
	vertical-align: top;
}

ul {
	list-style-type: none;
}	

iframe {
	border: none;
	height: 100px;
	width: 100%;
}

body#navigation {
	font-weight: bold;
	margin: 0;
}

	#navigation ul {
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		padding: 0;
	}

	#navigation li {
		decoration: none;
	}


img {
	border: 5px solid;
	border-color: white;
	box-sizing: border-box;
	margin: 10px 0;
	min-width: 200px;
	width: 100%;
}

figure {
	margin: 80px 0;
}

figcaption {
	text-align: center;
}

.unemployed, .unemployed a {
	color: var(--less-important-color);
}


